      h1                  {
         font-size: 24 pt;
         color: red;
         text-decoration: underline;
         font-family: tahoma, belvetica, sans-serif;
         }
         em  {
            font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
            font-weight: bold;

         }
            a:hover {
               text-decoration: none;
            }

            .centered {
               text-indent: 3mm;
               text-align: center;
               text-emphasis-color: red;
               text-emphasis-style: "*";
               text-shadow: 2px 2px yellow;
            }
            .center-icon {
               text-align:center;
            }
            .course-list {
border: thick solid purple;
margin-bottom: 1em;
margin-top: 1em;
padding: 4ex;
width: 50%;
background-color: aquamarine;
         }
         table th {
    background-color: orange;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
    
