      h1                  {
         font-size: 24 pt;
         color: red;
         text-decoration: underline;
         font-family: tahoma, belvetica, sans-serif;
         }
         em  {
            font-style: normal;
            color: blue;
            background-color: yellow;
            font-weight: bold;
         }
            a:hover {
               text-decoration: none;
            }
            li:first-child{
               border: thick solid green;
               margin-bottom: lem;
               margin-top: lem;
               padding: lex;
               width: 40%;
            }
            p.centered {
               text-indent: 3mm;
               text-align: center;
            }
         
    
